{% extends 'core/base.html' %}
{% block title %}Wishlist {% endblock %}
{% load static %}
{% block body %}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url 'home' %}">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">wishlist</span>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Wish Products</span></h2>
    
    <div class="row px-xl-5">
        {% if messages %}
        {% for message in messages %}
        <div style="color:red;" class="notification is-danger is-toast">{{ message }}</div>
        {% endfor %}
        {% endif %}
        
        {% for product in products %} 
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    {% if product.image %}
                    <img class="img-fluid w-100"  src="{{ product.image.url }}" alt="">
                    {% else %}
                    <img class="img-fluid w-100"  src="{{ product.url }}" alt="">
                    {% endif %}
                    <div class="product-action">
                        <a class="btn btn-outline-dark btn-square" href="{% url 'product_detail'  product.category.slug product.slug product.id %}"><i class="fa fa-shopping-cart"></i></a>
                        {% if product.wishlist_exist %}
                        <a class="btn btn-outline-dark btn-square" href="{% url 'add_to_wishlist' product.id %}" ><i class="far fa-heart"></i></a>
                        {% else %}
                        <a class="btn btn-outline-dark btn-square" href="{% url 'add_to_wishlist' product.id %}"><i class="far fa-heart"></i></a>
                        {% endif %}
          
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" href="">{{product.title}}</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5>${{product.price}}</h5><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>{{ product.numbersOfReview}}</small>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="container">
            <div class="notification is-warning">
                <button class="delete"></button>
                <strong>No products in wishlist</strong>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>
<!-- Products End -->
{% endblock body %}