<!DOCTYPE html>
{% load static %}

<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/jquery-ui.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
</head>
<body>
 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="{% static 'blog/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            {% for category in categories %}
                            <li><a  href="{% url 'blog:blog_view' %}?category={{category.name}}">{{category.name | title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-1.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-2.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-3.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                           <a href="{% url 'blog:blog_view' %}?category={{category.name}}">{{category.name | title}}</a>
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {% for post in page_obj %}
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ post.image.url }}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {% now "d" %} {% now "M" %},{% now "Y" %}</li>
                                    <li><i class="fa fa-user"></i> {{ post.tags.all.first | title }}</li>
                                </ul>
                                <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                                <p>{{ post.content |truncatechars:150 }} </p>
                                <a  href="{{ post.get_absolute_url }}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="container content-center mx-auto mt-15">
                        <h1 class="font-bold p-10 text-center text-red-500">
                        Your search - "{{ query }}" Didn't match any  keyword. Please try again with different keywords.</h1>   
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                                <a href="?page=1">1</a>
                                {% endif %}
                             
                                <a href="#">{{ page_obj.number }}</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}"> {{ page_obj.paginator.num_pages }}</a>
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<script src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'blog/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'blog/js/mixitup.min.js' %}"></script>
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
</html>