<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>

<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/elegant-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/nice-select.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/jquery-ui.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/slicknav.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
</head>
<body>
 <!-- Breadcrumb Section Begin -->

<section class="blog-details-hero set-bg" data-setbg="{% static 'blog/img/blog/details/details-hero.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="{% url 'home' %}">Home</a>
                        <span><a href="{% url 'blog:blog_view' %}">Blog</a></span>
                    </div>
                </div>
                <div class="blog__details__hero__text">
                    <h2>{{ post.title }}</h2>
                    <ul>
                        <li>By {{post.author}}</li>
                        <li> {% now "d" %} {% now "M" %},{% now "Y" %}</li>
                        <li>{{total_comments_on_post}} Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            {% for category in categories %}
                            <li><a  href="{% url 'blog:blog_view' %}?category={{category.name}}">{{category.name | title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-1.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-2.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="{% static 'blog/img/blog/sidebar/sr-3.jpg' %}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                           <a href="{% url 'blog:blog_view' %}?category={{category.name}}">{{category.name | title}}</a>
                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text">
                    <img src="{{ post.image.url }}" alt="">
                    <p>{{post.content}}.</p>
             
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="{% static 'blog/img/blog/details/details-author.jpg' %}" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>{{post.author}}</h6>
                                    <span>staff member</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>     
                                    <li><span>Categories:</span> {{post.category}}</li>
                                    <li><span>Tags:</span> {{ post.tags.all.first | title }}</li>
                                </ul>
  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4>{{total_comments_on_post}}  Comments</h4>
                    {% for comment in comments %}
                    <div class="comment-list">
                       <div class="single-comment justify-content-between d-flex">
                          <div class="user justify-content-between d-flex">
                             <div class="thumb">
                                <img src="{{ comment.customer.image.url }}" alt="{{ comment.customer.full_name }}">
                             </div>
                             <div class="desc">
                                <p class="comment">
                                   {{ comment.body }}
                                </p>
                                <div class="d-flex justify-content-between">
                                   <div class="d-flex align-items-center">
                                      <h5>
                                         <p>{{ comment.customer.full_name }}</p>
                                      </h5>
                                      <p class="date">{{ comment.created_at | naturaltime }}</p>
                                   </div>
                                   <div class="reply-btn">
                                      <a href="#" class="btn-reply text-uppercase">reply</a>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
</section>
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Post You May Like</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'blog/img/blog/blog-1.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'blog/img/blog/blog-2.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="{% static 'blog/img/blog/blog-3.jpg' %}" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
<script src="{% static 'blog/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'blog/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'blog/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'blog/js/mixitup.min.js' %}"></script>
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'blog/js/main.js' %}"></script>
</html>